{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "object-curly-newline": 0,
    "arrow-body-style": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": ["error", {"declaration": false, "assignment": false}]
  }
}
