.chat-page {
    flex: 1 1 auto;
    display: flex;
}

.chat-list {
    flex: 0 0 auto;
    width: 200px;
}

.dialog {
    flex: 1 0 auto;
    /*height: 563px;*/
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.messages {
    overflow: auto;
    flex: 1 1 0;
}

.message-input {
    height: 50px;
    flex: 0 0 auto;
}