.section.section-lg.section-shaped {
    padding-top: 10px;
}

.header.d-flex {
    display: flex;
    flex: 1;
    align-items: center;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.h1.display-3.text-white {
    padding-top: 10px;
    background: rgba(0, 0, 0, 0);
}

.header-triangle-poligon {
    fill: #f7f7f7;
}