.section.section-lg.section-shaped {
    padding-top: 10px;
}

.h1.display-3 {
    background: transparent !important;
}

.shape.shape-style-1.shape-default {
   background-image: linear-gradient(150deg,#7795f8 15%,#6772e5 70%,#555abf 94%) !important;
}

.header.d-flex {
    display: flex;
    flex: 1;
    align-items: center;
    background: transparent;
}

.header.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 0 !important;
}

.h1.display-3.text-white {
    padding-top: 10px;
    background: rgba(0, 0, 0, 0);
}

.header-triangle-poligon {
    fill: #f7f7f7;
}


